body {
  margin: 0;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
}

img {
  display: block;
  transform: translateY(50%);
  margin: 0 auto;
}

#hello-container{
  margin: auto;
  padding: 20px;
  font-family: Arial;
  text-align: center;
  width: 600px;
}


#overlay {
  position: fixed;
  top: 25px;
  left: 25px;
}
