body {
  margin: 0;
}
canvas {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}

div {
  margin: auto;
  padding: 20px;
  font-family: Arial;
  text-align: center;
  width: 600px;
  margin-top: 20px;
  border: solid;
}

button {
  background-color: #008CBA; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  margin: auto;
  width: 50%;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin-top: 16px;
}